body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: black;
     display: flex;
   
}
.items, a{
    text-decoration: none;
    padding: 10px;
    color: white;
   
    }

    a:hover{
    color: blue;
    cursor: pointer;
    background-color: red;
}

@media screen and (max-width:500px) {
    .navbar{
    flex-direction: column;
    background-color: pink;
   

        
}

}